.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: #333;
}
li{
  list-style: none;
}
.wrap{
  width: 100%;
  height: 100%;
  position: relative;
}
.inner{
  max-width: 1200px;
  margin:0 auto;
}
header{
  width: 100%;
  border-bottom: 1px solid #999;
}
.navbar{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#gnb{
  width: 100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
    transition: padding .3s;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    position: relative;
}
#gnb .nav_logo{
  width: 150px;
  height: auto;
}
#gnb .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#gnb .links a{
  margin: 0 auto;
  cursor: pointer;
}
#gnb .links a.username{
  font-weight: 700;
}
#gnb .links a:not(:last-child){
  margin-right: 20px;
}


/* mainWrap start */
.postWrap{
  background-color: #efeeee;
  margin-top: 125px;
}
.postContainer{
  padding:50px 0;
}
.postWrap ul{
  margin-top: 50px;
}
.postWrap li{
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #cecece;
    padding: 29px 70px 29px 20px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 78px center;
}
.postWrap li .title{
  font-size: 1.3em;
    margin-right: 30px;
    line-height: 1.5;
    flex: 0 0 10%;
    font-family: 'Noto Sans', sans-serif;
}
.postWrap li .content{
  flex: 0 1 60%;
  font-size: 1.2em;
  line-height: 1.38em;
  font-family: 'Noto Sans', sans-serif;
}

.postWrap li .username{
  flex: 0 0 55px;
  width: 55px;
  height: 22px;
  line-height: 22px;
  margin-right: 30px;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

/* mainWrap end */

/* banner start */
.banner-wrap{
  width: 100%;
  height: 450px;
  position: relative;
}
.banner-wrap .banner-img{
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  object-position: 50% 38%;
}
.banner-wrap .content-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 9999;
}
.banner-wrap .content-wrap p{
  font-size: 2em;
  color: #fff;
  font-weight: 500;
  letter-spacing: 4px;
}
.banner-wrap .content-wrap a{
  margin-top: 20px;
  display: block;
  width: 170px;
  padding: 5px 10px;
  font-size: 1.2em;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.banner-wrap .content-wrap a:hover{
  background-color: #fff;
  opacity: 0.8;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.banner-wrap::before{
  position: absolute;
  top:0;
  left:0;
  z-index: 777;
  background-color: #000;
  opacity: 0.4;
  width: 100%; 
  height:100%;
  content: '';
}
/* banner end */

/* api wrap start */
.main-title{
  text-align: left;
  font-size: 2.4em;
  padding-left:20px;
  border-left: 7px solid black;
}
.searchWrap{
  margin-top: 125px;
}
.apiSearchWrap{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.apiSearchWrap .apiRightSide{
  flex: 60%;
  height: 100%;
  max-height: 500px;
  position: relative;
}
.apiSearchWrap .apiLeftSide{
  flex: 40%;
  height: 100%;
  max-height: 500px;
  position: relative;
}
.apiLeftSide .apiSearchImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.apiLeftSide .searchContainer{
  position:absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  padding:0 30px;
  border-radius: 30px;
}
.apiLeftSide .searchContainer p{
  font-size: 3em;
  line-height: 1.2em;
  text-align: left;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}
.apiLeftSide .searchContainer .apiSearchContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.apiLeftSide .searchContainer .apiSearchContent label{
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 15px;
}
.apiLeftSide .searchContainer .apiSearchContent input{
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #999;
}
.apiLeftSide .searchContainer .apiSearchBtn{
  width: 100%;
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1.3em;
  display: block;
  cursor: pointer;
}
.apiSearchWrap .apiRightSide{
  overflow-y: scroll;
  padding: 20px;
}

.apiSearchWrap .apiRightSide .apiFoodsTable li{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 29px 0;
  align-items: center;
  border-bottom: 1px solid #acaaaa;
}
.apiSearchWrap .apiRightSide .apiFoodsTable li p{
  border-right: 1px solid #f8f8f8;
}

.apiSearchWrap .apiRightSide .apiFoodsTable li .apiFoodsId{
  flex: 0 0 10px;
}
.apiSearchWrap .apiRightSide .apiFoodsTable li .apiFoodsName{
  flex: 0 1 30%;
  padding: 0 20px;
  word-break: keep-all;
}
.apiSearchWrap .apiRightSide .apiFoodsTable li .apiFoodsRawInfo{
  width: 100%;
  flex: 1;
}

/* api wrap end */

/* login page start  */
.loginPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loginPage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loginPage .loginContainer{
  width: 50%;
  height: 80%;
  display: flex;
  position: absolute;
  background-color: #fff;
  border-radius: 50px;
  padding: 50px;
}
.loginPage .loginContainer .loginSection{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.loginPage .login-logo{
  width: 200px;
  height: auto;
  margin-bottom: 45px;
}
.loginPage .login-welcome{
  font-size: 2.5em;
  color: darkblue;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: 600;
}
.loginPage .loginSection label{
  font-size: 1.3em;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
}
/* login page end */
.loginPage .loginSection input{
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid darkblue;
}
.loginPage .loginSection .login-btn{
  display: block;
  width: 100%;
  padding: 15px 10px;
  cursor: pointer;
  background-color: darkblue;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}
/* login page end */

/* marker start */
.marker-container h4{
  margin-bottom: 15px;
}
.marker-container p{
  margin-bottom: 10px !important;
}
.marker-container .marker-tit{
  margin-bottom: 10px !important;
}
/* marker end */

/* write page start */
.writePage{
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.writePage .formContainer{
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin:-0 auto;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  padding: 20px 0;
}
.writePage .formContainer .formContent{
  height: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writePage .formContainer label{
  font-size: 15px;
  flex: 20%;
}
.writePage .formContainer input{
  flex:80%;
  height: 50px;
}
.writePage .formContainer span{
  color: red;
  font-weight: 700;
}

.writePage .formContainer button{
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: lightskyblue;
  border-radius: 8px;
  border: none;
  color: white;
}
.writePage .formContainer button:hover{
  cursor: pointer;
  background-color: dodgerblue;
}
/* write page end */


/* post page start */
.detailPage{
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 50px;
  padding: 20px;
}
.detailPage h1{
  text-align: left;
  margin-bottom: 30px;
}
.detailPage .detail-container{
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70vh;
  padding: 20px;
}
.detailPage .detail-container .userInfo{
  width: 100%;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #999;
}
.detailPage .detail-container .userInfo .detail-username{
  font-size: 1.4em;
}
.detailPage .detail-container .userInfo .detail-datetime{
  font-size: 1.1em;
  color: #999;
}
.detailPage .detail-container .detail-contentWrap{
  width: 100%;
  padding: 20px 0;
  text-align: left;
}
.detailPage .detail-container .detail-contentWrap .detail-id{
  font-size: 1.5em;
  color: #888;
  margin-bottom: 0 !important;
}
.detailPage .detail-container .detail-contentWrap .detail-title{
  font-size: 2em;
  color: #000;
}
.detailPage .detail-container .detail-contentWrap .detail-content{
  margin-top: 30px;
  font-size: 1.4em;
  font-weight: 300;
}
.detailPage .detail-commentWrap{
  margin-top: 50px;
  width: 100%;
  padding: 20px;
  background-color: #f8f8f8;
}

/* post page end */


/* maps section start */
.maps-wrap{
  width: 100%;
  height: 100%;
  position: relative;
}
.maps-container{
  display: flex;
  justify-content: space-between;
}
.maps-wrap .maps-container .maps-left-container{
  flex: 30%;
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.maps-wrap .maps-container .maps-left-container p{
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.maps-wrap .maps-container .maps-left-container input{
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightsalmon;

}
.maps-wrap .maps-container .maps-left-container a{
  border:1px solid #777;
  margin-top: 20px;
  padding:0 20px;
  display: block;
  line-height: 40px;
  border-radius: 8px;
  text-align: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.maps-wrap .maps-container .maps-right-container{
  flex: 70%;
  width: 100%;
}
/* maps section end */

/* search start */
.vol-center-main-title{
  text-align: left;
  font-size: 2.4em;
  padding-left:20px;
  border-left: 7px solid black;
  margin-top: 100px;
}
.vol-center-wrap{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.vol-left-container{
  flex: 40%;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.vol-left-container .vol-center-searchBox{
  background-color: lightblue;
  border-radius: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vol-left-container .vol-center-searchBox p{
  font-size: 2em;
  margin-bottom: 50px;
}
.vol-left-container .vol-center-searchBox input{
  width: 80%;
  height: 50px;
  border-radius: 2em;
  border:1px solid #fff;
  margin-bottom: 50px;
}
.vol-left-container .vol-center-searchBox button{
  width: 80%;
  height: 50px;
  border-radius: 2em;
  background-color: #fff;
  color: #000;
}
.vol-right-contaier{
  flex: 60%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 2em;
  background-color: lightgreen;
  padding: 10px;
}
.vol-right-inner{
  display: flex;
}
.vol-right-inner p{
  width: 100%;
}
.vol-right-inner p:first-child{
  display: none;
}
/* search end */
.gm-style-iw-d {
  overflow: hidden !important;
}
.gm-style .gm-style-iw-t::after{
  display: none;
}
.gm-style-iw-d div{
  padding: 15px;
}
.gm-style-iw-d div p{
  margin: 0 !important;
}
.gm-style .gm-style-iw-c{
  padding:0 !important;
}

/* footer start */
.footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 0 10px;
  border-top: 1px solid black;
  z-index: 1;
  margin-top: 50px;
  padding-top: 20px;
}

.ft-wrap {
  display: flex;
  justify-content: space-between;

}

.ft-wrap:not(:last-child) {
  margin-bottom: 20px;
}

.ft-wrap:last-child {
  padding-bottom: 20px;
}

.ft-wrap p {
  margin-bottom: 5px;
}

.ft-sns-wrap p {
  text-align: left;
}
.ft-nav{
  padding:0;
  margin:0;
  display: flex;
}
.ft-nav li{
  font-weight: 500;
  height: 100%;
}
.ft-nav li:not(:last-child){
  margin-right: 25px;
}
.ft-nav li::after{
  float:right;
  content:'|';
  display: block;
  margin-left: 25px;
}
.ft-nav li:last-child::after{
  content :"";
}
.ft-menu-wrap p{
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}
/* footer end */

/* mobile menu start */
.mobile-links{
  display: none;
}
/* mobile menu end */

@media screen and (max-width:767px){
  header .navbar #gnb .links {
    display: none;
  }
  .mobile-links{
    display: block;
  }
}